body {
    height: 100vh;
    padding: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: grey;
    height: 30%;
}

#modebtn {
    height: 40px;
    width: 100px;
    outline: none;
    border: solid 1px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background: none;
}

.status-display {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: grey;
    height: 200px;
    padding: 20px;
}

.text__turn > div {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text__turn > div > img {
    margin-right: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100vw;
    background-color: #1bbcab;
    position: relative;
}

.gameover {
    display: none;
    flex-direction: column;
    position: absolute;
    inset: 0 0 0 0;
    background-color: #1bbcab;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.gameover.show {
    display: flex;
}

.sub-container {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.item {
    height: 17vh;
    width: 17vh;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    font-size: 30px;
    font-family: "customFont";
    cursor: pointer;
    position: relative;
}

/* .item:first-child,
.item:nth-child(2) {
    border-right: 8px solid #15a091;
}

.item:first-child,
.item:nth-child(2) {
    border-right: 8px solid #15a091;
} */

.sub-container:first-child,
.sub-container:nth-child(2) {
    border-bottom: 8px solid #15a091;
}

.sub-container > .item:first-child,
.sub-container > .item:nth-child(2) {
    border-right: 8px solid #15a091;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1bbcab;
    height: 10%;
    font-size: 1rem;
    cursor: pointer;
}

/* .circle {
    background-image: url(./circle.png);
    background-repeat: no-repeat;
    background-size: contain;
} */

.item.circle::after {
    content: "";
    background-image: url(./circle.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 17vh;
    width: 17vh;
    /* transform: scale(0.65); */
    animation: fadeIn 300ms ease-in-out forwards;
}

.item.cross::after {
    content: "";
    background-image: url(./cross.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 17vh;
    width: 17vh;
    /* transform: scale(0.6); */
    animation: fadeIn 300ms ease-in-out forwards;
}

.playerSelector-container {
    display: flex;
    flex-direction: row;
}

.playerSelector__cross,
.playerSelector__circle {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    /* border: 1px rgba(128, 128, 128, 0.137) solid; */
    border-radius: 10px;
    padding: 10px 20px;
    margin-left: 10px;
    box-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.233);
}

.playerSelector-container .currentturn {
    animation: addShadow 0.5s ease-in-out forwards;
}

.score__cross,
.score__circle {
    font-size: 1.5rem;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(0.65);
    }
}

@keyframes addShadow {
    0% {
        box-shadow: none;
    }
    100% {
        box-shadow: inset 0 -2px 0 #1bbcab, 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    }
}
